In [1]:
import os
import argparse

from time import time

import pandas as pd
from sqlalchemy import create_engine

### Green_Trip_Data

In [4]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz'
if url.endswith('.csv.gz'):
    csv_name = 'output.csv.gz'
else:
    csv_name = 'output.csv'

In [ ]:
os.system(f"wget {url} -O {csv_name}")

In [8]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [12]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

df = next(df_iter)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

In [14]:
while True: 

    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 11.030 second
inserted another chunk, took 11.984 second
inserted another chunk, took 12.891 second
inserted another chunk, took 12.409 second
inserted another chunk, took 3.810 second
Finished ingesting data into the postgres database

### taxi+_zone_lookup

In [15]:
url_2 = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [16]:
output_name = 'taxi_zone_lookup.csv'
os.system(f"wget {url_2} -O {output_name}")

0

In [17]:
taxi_zone_lookup_df = pd.read_csv(output_name)
taxi_zone_lookup_df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')
taxi_zone_lookup_df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')